{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}

    <style>
        #card {
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #2e3136;
            color: white;
            padding: 20px;
            margin: 20px;
            width: 300px;
            float: left;
            display: flex;
            flex-direction: column;
        }
        #display {
            display: flex;
            flex-wrap: nowrap;
            margin: auto;
        }
        button {
            padding: 10px;
            border-radius: 10px;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #4CAF50;
            cursor: pointer;
            color: white;
            font-size: 15px;
        }
        button:hover {
            background-color: #45a049;
        }
        .example-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        h1 {
            text-align: center;
            margin: 50px;
        }
        .active-subscription button{
            background-color: red;
        }
    </style>
    <div class="example-wrapper">
        <h1 class="">Nos Abonnements</h1>
        <div id="display">
            <div>
                {% for subscription in subscriptions %}
                    <div id="card">
                    <form action="{{ path('app_subscription_change') }}" method="post">
                        <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
                        <div class="{% if subscription.id == active_subscription.id %}active-subscription{% else %}inactive-subscription{% endif %}">
                            <div>
                                <h2>{{ subscription.title }}</h2>
                                <p>{{ subscription.description }}</p>
                                <p>Prix : {{ subscription.price }} €</p>
                                <p>Limite de Pdf par jour : {{ subscription.pdfLimit }}</p>
                            </div>
                            <button type="submit" name="submit_button">{{ subscription.id == active_subscription.id ? 'Tu as déjà cet abonnement' : 'Choisis cet abonnement' }}</button>
                        </div>
                    </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
